**/bin/
**/obj/
.vs/
**/node_modules/
**/appsettings.Local.json
**/appsettings.*.Local.json
**/.env
**/.env.*
!**/.env.example
artifacts/
TestResults/
*.user
*.log
**/TestResults/
*.bak
*.mdf
*.ldf
*.pfx
*.p12
*.key
**/secrets.json
